@import url('https://fonts.googleapis.com/css?family=Neucha:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700');

* {
margin: 0;
padding: 0;
}

/* ------------------------------------[ About Me Section ]-------------------------------------- */

/* Section Styling */
#about-section {
    background-image: linear-gradient(rgba(196, 69, 105, 0.90), rgba(130, 88, 159, 0.90)), url(../images/bg-cusco-close.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 40px 0;
    color: #f5f6fa;
}

/* White Hyphen Symbol */
.hyphen-white {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin: 20px 0 40px 15px;
    padding-top: 10px;
}

/* Left Column */
.about-text {
    margin-left: -15px;
}

/* Section Title */
.about-text h2 {
    font-family: Neucha, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0 15px;
}

/* Section Paragraph */
.about-text p {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 15px 15px;
}

/* Section Button */
.about-text a {
    display: inline-block;
    text-decoration: none;
    font-family: Poppins, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #f5f6fa;
    color: #000;
    margin: 0 15px;
    padding: 12px 25px 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Button Hover Effect */
.about-text a:hover {
    background-color: #000;
    color: #f5f6fa;
}

/* ------------------------------------[ How Can I Help Section ]-------------------------------------- */

/* Section Styling */
#services-types {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #e7e8ef;
    color: #82589F;
}

/* Section Padding */
.section-padding {
    padding: 40px 20px 40px 20px;
}

/* Space Between Intro & Services Types */
.services-types-intro {
    margin-bottom: 40px;
}

/* Section Title */
.services-types-intro h2 {
    font-family: Neucha, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Purple Hyphen Symbol */
.hyphen-purple {
    background: #82589F;
    width: 100px;
    height: 5px;
    border: none;
    margin: 20px auto;
    padding-top: 10px;
}

/* Intro Paragraph */
.services-types-intro p {
    margin-top: 30px;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
}

.services-types-box {
    gap: 15px;
}

/* Space Between Services Types */
.services-types-box:not(:first-child) {
    margin-top: 50px;
}

/* Section Subtitles */
.services-types-content h3 {
    font-family: Neucha, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* Section Paragraphs */
.services-types-content p {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
}

/* Section Icons */
.services-types-icon {
    height: 50px;
    width: 50px;
    background-color: #82589F;
    color: #f5f6fa;
    font-size: 22px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Section Image Alignment */
.services-types-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Image Styling */
.services-type-img img {
    max-width: 100%;
    margin: 30px 0;
}

/* Section CTA Button Alignment */
.cta-button-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Section CTA Button Styling */
.cta-button-purple a {
    text-decoration: none;
    font-family: Poppins, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #82589F;
    color: #f5f6fa;
    padding: 12px 25px 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Section CTA Button Hover Effect */
.cta-button-purple a:hover {
    background: #000;
    color: #f5f6fa;
}

/* ------------------------------------[ How Can I Help Section ]-------------------------------------- */

/* Section Styling */
#services-fields {
    background-image: linear-gradient(rgba(196, 69, 105, 5), rgba(130, 88, 159, 5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: #f5f6fa;
}

/* Intro Styling */
.services-fields-intro {
    padding-top: 40px;
    margin-bottom: 20px;
}

/* Centered White Hyphen Symbol */
.hyphen-white-center {
    width: 100px;
    height: 5px;
    background: #f5f6fa;
    margin: 20px auto 40px;
    padding-top: 10px;
}

/* Section Title */
.services-fields-intro h2 {
    font-family: Neucha, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
}

/* Intro Paragraph */
.services-fields-intro p {
    max-width: 550px;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 30px auto 40px;
}

/* Section Boxes */
.services-fields-box {
    position: relative;
    margin: 0 5px 15px;
    padding: 20px;
    color: #f5f6fa;
    border: 2px solid #F5f6fa;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Section Subtitles */
.services-fields-box h3 {
    font-family: Neucha, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 10px;
}

/* Section Paragraphs */
.services-fields-box p {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
}

/* Section Icons */
.top-left {
    color: #F5f6fa;
    font-size: 50px;
    margin-bottom: 20px;
}

/* CTA Text 'Learn More' Styling */
.services-fields-box a {
    font-family: Poppins, Helvetica, sans-serif;
    text-decoration: none;
    color: #F5f6fa;
    font-size: 12px;
}

/* CTA Text 'Learn More' Hover Effect */
.services-fields-box a:hover {
    text-decoration: underline;
}

/* Section CTA Button Alignment */
.cta-button-white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

/* Section CTA Button Styling */
.cta-button-white a {
    display: flex;
    margin-right: 10px;
    text-decoration: none;
    font-family: Poppins, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #F5f6fa;
    color: #000;
    padding: 12px 25px 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Section CTA Button Hover Effect */
.cta-button-white a:hover {
    background: #000;
    color: #f5f6fa;
}

/* ------------------------------------[ Testimonials Section ]-------------------------------------- */
